<modal id="appSecretModal" title="应用配置">
    <div class="btn-group margin-bottom" data-toggle="buttons">
        <label class="btn btn-default" ng-repeat="ct in appFn.configTypes" ng-class="{active: current.configType === ct}" ng-click="current.configType = ct">
            <input type="radio" name="type" autocomplete="off"> {{ct.name}}
        </label>
    </div>
    <pre class="margin-bottom-zero" style="min-height: 200px;" ng-bind-html="current.configType.template(current.app)"></pre>
    <button class="btn btn-default" data-dismiss="modal"><fa i="times-circle">&nbsp;关闭</fa></button>
</modal>