<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="leoApp" ng-controller="leoCtrl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${App::config('console_title')}</title>
    <link rel="shortcut icon" href="${app.resourceCommon}/ufrog/img/favicon.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="${app.resourceCommon}/bootstrap/3_3_7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="${app.resourceCommon}/bootstrap/3_3_7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="${app.resourceCommon}/font_awesome/4_7_0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${app.resourceCommon}/ufrog/css/ufrog-bootstrap.min.css?ver=${app.version}">
    <link rel="stylesheet" type="text/css" href="${app.resourceCommon}/leo/css/leo-server.min.css?ver=${app.version}">
</head>
<body ng-controller="indexCtrl">

<!-- header -->
<alert ng-model="alert" sign-out-flag="_not_sign::" sign-view="${app}/sign_out"></alert>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#navbar">
                <span class="sr-only">toggle navbar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="${app}/" class="navbar-brand">${App::config('console_name')}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><fa i="user">&nbsp;${app.user.name}，您好</fa></a></li>
                <li><a href="#" ng-click="resetPassword()"><fa i="key">&nbsp;修改密码</fa></a></li>
                <li><a href="${app}/sign_out"><fa i="sign-out">&nbsp;安全注销</fa></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- header -->

<!-- body -->
<div class="container container-server ng-fade" ng-include="bodyUrl"></div>
<!-- body -->

<script type="text/javascript" src="${app.resourceCommon}/jquery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="${app.resourceCommon}/bootstrap/3_3_7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${app.resourceCommon}/angular/1_6_2/angular.min.js"></script>
<script type="text/javascript" src="${app.resourceCommon}/angular/1_6_2/angular-sanitize.min.js"></script>
<script type="text/javascript" src="${app.resourceCommon}/angular/1_6_2/angular-animate.min.js"></script>
<script type="text/javascript" src="${app.resourceCommon}/ufrog/js/ufrog-angular-common.min.js?ver=${app.version}"></script>
<script type="text/javascript" src="${app.resourceCommon}/ufrog/js/ufrog-angular-bootstrap.min.js?ver=${app.version}"></script>
<script type="text/javascript" src="${app.resourceCommon}/ufrog/js/ufrog-angular-request.min.js?ver=${app.version}"></script>
<script type="text/javascript" src="${app.resourceHost}/js/leo-server.min.js?ver=${app.version}"></script>
<!--suppress JSUnresolvedVariable, JSUnusedLocalSymbols -->
<script type="text/javascript">
    'use strict';
    function indexCtrl($scope) {
        angular.extend($scope, {
            // 初始化
            init: function() {
                $scope.mode = '${mode}';
                if ($scope.mode === '_reset_password') {
                    $scope.resetPassword();
                } else {
                    $scope.get('${app}/check_forced', function() {
                        $scope.bodyUrl = '${app}/view/index_apps';
                    }, null, null, function() {
                        $scope.resetPassword();
                    });
                }
            },

            // 修改密码视图
            resetPassword: function() {
                $scope.bodyUrl = '${app}/view/index_reset_password';
            },

            //
            alert: {}
        }).init();
    }
</script>

</body>
</html>