<!DOCTYPE html>
<html lang="zh-cmn-Hans" ng-app="leoApp" ng-controller="leoCtrl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${App::config('console_title')}</title>
    <link rel="shortcut icon" href="${app.common}/ufrog/img/favicon.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="${app.common}/bootstrap/3_3_7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="${app.common}/bootstrap/3_3_7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="${app.common}/font_awesome/4_7_0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="${app.common}/ufrog/css/ufrog-bootstrap.min.css?ver=${app.version}">
</head>
<body class="sign">

<div class="container" ng-controller="signCtrl">
    <h1>${App::config('console_name')}</h1>
    <div class="panel panel-default">
        <!-- #form -->
        <form name="signForm" action="#" method="post" ng-submit="authenticate($event)">
            <div class="panel-body">
                <h3>管理员登录</h3>
                <div class="alert alert-warning" ng-bind="result.firstMessage" ng-hide="valid.empty(result)" ng-cloak></div>
                <div class="form-group">
                    <input type="text" name="account" placeholder="输入管理员帐号" class="form-control input-lg" ng-model="data.sign.account" required autofocus>
                    <input type="password" name="password" placeholder="登录密码" class="form-control input-lg" ng-model="data.sign.password" required>
                </div>
                <button class="btn btn-primary btn-block btn-lg" ng-disabled="disabledSignBtn()">
                    <span ng-show="ctrl.status('signBtn', ['standby'])" ng-cloak>登录</span>
                    <span ng-show="ctrl.status('signBtn', ['processing'])" ng-cloak><fa i="spinner spin">&nbsp;${app.msg('common.processing')}</fa></span>
                </button>
            </div>
        </form>
        <!-- #form -->
    </div>
    <p>${App::config('console_copyright')}</p>
</div>

<script type="text/javascript" src="${app.common}/jquery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="${app.common}/bootstrap/3_3_7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="${app.common}/angular/1_6_2/angular.min.js"></script>
<script type="text/javascript" src="${app.common}/angular/1_6_2/angular-sanitize.min.js"></script>
<script type="text/javascript" src="${app.common}/ufrog/js/ufrog-angular-common.min.js?ver=${app.version}"></script>
<script type="text/javascript" src="${app.common}/ufrog/js/ufrog-angular-bootstrap.min.js?ver=${app.version}"></script>
<script type="text/javascript" src="${app.common}/ufrog/js/ufrog-angular-request.min.js?ver=${app.version}"></script>
<script type="text/javascript" src="${app.common}/leo/js/leo-server.min.js?ver=${app.version}"></script>
<script type="text/javascript">
    'use strict';
    function signCtrl($scope, $bootstrap) {
        angular.extend($scope, {
            // 初始化
            init: function() {
                $scope.ctrl.status('signBtn', 'standby');
                $bootstrap.alert.config();
            },

            // 提交登录
            authenticate: function($event) {
                $scope.ctrl.stop($event);
                $scope.ctrl.status('signBtn', 'processing');
                $scope.postUrlencoded('${app}/authenticate', $scope.data.sign, function() {
                    $scope.ctrl.redirect('${app}/index');
                }, function() {
                    $scope.ctrl.status('signBtn', 'standby');
                }, null, function(data) {
                    $scope.result = data;
                    $scope.data.sign.password = '';
                });
            },

            // 判断登录按钮是否有效
            disabledSignBtn: function() {
                if ($scope.signForm.$invalid) return true;
                else if ($scope.ctrl.status('signBtn', ['processing'])) return true;
                return false;
            },

            data: {
                sign: {}
            }
        }).init();
    }
</script>

</body>
</html>