<div class="row" ng-controller="resetPasswordCtrl">
    <div class="col-sm-offset-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading"><fa i="key">&nbsp;密码修改</fa></div>
            <div class="panel-body">
                <form id="resetPasswordForm" method="post" action="#" ng-submit="reset($event)">
                    <div class="form-group">
                        <label for="prev"><rq>&nbsp;原密码</rq></label>
                        <input id="prev" type="password" name="prev" class="form-control" placeholder="请输入原密码" ng-model="data.reset.prev" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="next"><rq>&nbsp;新密码</rq></label>
                        <input id="next" type="password" name="next" class="form-control" placeholder="请输入新密码" ng-model="data.reset.next">
                    </div>
                    <div class="form-group">
                        <label for="confirm"><rq>&nbsp;确认密码</rq></label>
                        <input id="confirm" type="password" name="confirm" class="form-control" placeholder="请确认密码" ng-model="data.reset.confirm">
                    </div>
                    <button class="btn btn-success" ng-disabled="ctrl.status('resetBtn', ['processing'])">
                        <span ng-show="ctrl.status('resetBtn', ['standby'])"><fa i="check-circle">&nbsp;修改密码</fa></span>
                        <span ng-show="ctrl.status('resetBtn', ['processing'])"><fa i="spinner spin">&nbsp;${app.getMessage('common.processing')}</fa></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--suppress JSUnresolvedFunction, JSUnresolvedVariable, JSUnusedLocalSymbols -->
<script type="text/javascript">
    'use strict';
    function resetPasswordCtrl($scope, $timeout) {
        angular.extend($scope, {
            // 初始化
            init: function() {
                $scope.ctrl.status('resetBtn', 'standby');
            },

            // 重置密码
            reset: function($event) {
                $scope.ctrl.stop($event);
                $scope.ctrl.status('resetBtn', 'processing');
                $scope.postUrlencoded('${app}/update_password', $scope.data.reset, function() {
                    $timeout(function() {
                        $scope.ctrl.redirect('${app}/sign_out');
                    }, 5000);
                }, function() {
                    $scope.ctrl.status('resetBtn', 'standby');
                });
            },

            //
            data: {
                reset: {}
            }
        }).init();
    }
</script>