<div ng-controller="teamGroupCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">组织架构</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4"><tree ng-model="tree"></tree></div>
                <div class="col-sm-4"><!-- #include('index_form.html') --></div>
                <div class="col-sm-4"><!-- #include('index_user.html') --></div>
            </div>
        </div>
    </div>
</div>
<!-- #include('index_js.html') -->