<div ng-controller="teamGroupRoleCtrl">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="pull-left">「{{current.group.name}}」角色绑定</span>
            <ul class="panel-heading-group">
                <li panel-heading-dropdown>
                    <a href="#"><span ng-bind="current.app.name"></span>&nbsp;<fa i="caret-down"></fa></a>
                    <ul class="panel-heading-dropdown">
                        <li ng-repeat="app in $apps|exclude:current.app"><a href="#" ng-click="active(app)"><fa i="caret-right">&nbsp;<span ng-bind="app.name"></span></fa></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <table>
            <colgroup>
                <col width="0%">
                <col width="100%">
            </colgroup>
            <tbody>
            <tr ng-repeat="role in roles" ng-if="ctrl.status('grid', ['loaded'])">
                <td><a href="#" ng-click="check(role)"><i class="fa fa-fw" ng-class="{'fa-spinner fa-spin': valid.undefined(bindedRoles), 'fa-square-o': !role.checked, 'fa-check-square-o': role.checked}"></i></a></td>
                <td ng-bind="role.name"></td>
            </tr>
            <tr ng-if="ctrl.status('grid', ['loaded']) && valid.empty(roles)"><td class="text-warning" col-span><fa i="exclamation-triangle">&nbsp;${app.getMessage('common.empty')}</fa></td></tr>
            <tr ng-if="ctrl.status('grid', ['loading'])"><td col-span><fa i="spinner spin">&nbsp;${app.getMessage('common.processing')}</fa></td></tr>
            </tbody>
        </table>
    </div>
    <div class="table-footer clearfix">
        <div class="pull-left">
            <button class="btn btn-success" ng-click="bind()" ng-disabled="disabledBindBtn()">
                <span ng-if="ctrl.status('bindBtn', ['standby'])"><fa i="floppy-o">&nbsp;绑定</fa></span>
                <span ng-if="ctrl.status('bindBtn', ['processing'])"><fa i="spinner spin">&nbsp;${app.getMessage('common.processing')}</fa></span>
            </button>
            <button class="btn btn-default" ng-click="groupFn.cancel()"><fa i="times-circle">&nbsp;${app.getMessage('common.op.cancel')}</fa></button>
        </div>
    </div>
</div>
#include('index_role_js.html')