<ul class="list-group margin-bottom-half" style="overflow: auto; max-height: 300px;">
    <li class="list-group-item clearfix" ng-repeat="member in members">
        <span class="pull-left" ng-bind="member.name"></span>
        <a href="#" class="text-danger" title="移除该成员"><fa i="times"></fa></a>
    </li>
    <li class="list-group-item"><a href="#" ng-click="memberFn.popUserList()"><fa i="plus">&nbsp;添加成员</fa></a></li>
</ul>
<button class="btn btn-default" ng-click="ctrl.status('mode', 'form')"><fa i="reply">&nbsp;返回</fa></button>
<button class="btn btn-default" ng-click="groupFn.cancel()"><fa i="times-circle">&nbsp;${app.msg('common.op.cancel')}</fa></button>
<!-- #include('modal_user.html') -->