<script type="text/javascript">
    'use strict';
    function teamGroupCtrl($scope, $tree, $bootstrap) {
        angular.extend($scope, {
            // 初始化
            init: function() {
                $scope.setupTree();
                $scope.groupFn.cancel();
            },

            // 设置树
            setupTree: function() {
                $scope.tree = {};
                $scope.tree.id = '_root';
                $scope.groupFn.setup($scope.tree);
                $tree.load($scope.tree);
                $tree.addNodeFn('<i class="fa fa-fw fa-plus-circle"></i><span>添加部门/职位</span>', $scope.groupFn.rootForm, $scope.tree);
            },

            // 组织功能集合
            groupFn: {
                // 查询组织
                find: function(group) {
                    $scope.get('${app}/group/find/' + group.id, function(data) {
                        $tree.loaded(group, data);
                        angular.forEach(data, function(v) {
                            $scope.groupFn.setup(v);
                        });
                    });
                },

                // 表单
                form: function(parent, group) {
                    $scope.current.parent = parent;
                    $scope.group = angular.extend({}, group);
                    $scope.groupUrl = '${app}/_v/group@index_form';
                    $scope.object.delete($scope.group, ['creator', 'createTime', 'updater', 'updateTime', 'children', '$fn', '$operations', '$parent', '$setup', '$status']);
                    if ($scope.valid.empty(group)) {
                        $scope.group.parentId = parent.id;
                    }
                },

                // 根级表单
                rootForm: function() {
                    $scope.groupFn.form($scope.tree);
                },

                // 编辑表单
                editForm: function(group) {
                    $scope.groupFn.form(group.$parent, group);
                },

                // 成员列表
                member: function(group) {
                    $scope.current.group = group;
                    $scope.groupUrl = '${app}/_v/group@index_member?' + $scope.date.timestamp();
                },

                // 删除组织
                delete: function() {
                    $scope.ctrl.status('deleteBtn', 'processing');
                    $scope.delete('${app}/group/delete/' + $scope.current.group.id, function() {
                        $tree.reload($scope.current.group.$parent);
                    }, function() {
                        $scope.ctrl.status('deleteBtn', 'standby');
                        $bootstrap.modal.hide('deleteGroupModal');
                    });
                },

                // 取消
                cancel: function() {
                    $scope.groupUrl = '';
                },

                // 弹出删除确认框
                popDeleteModal: function(group) {
                    $scope.current.group = group;
                    $scope.groupFn.cancel();
                    $scope.ctrl.status('deleteBtn', 'standby');
                    $bootstrap.modal.show('deleteGroupModal');
                },

                // 设置节点
                setup: function(node) {
                    if (!node.$setup) {
                        node.$setup = true;
                        $tree.setLoadFn($scope.groupFn.find, node);
                        $tree.addOperation('fa-minus-square', 'text-danger', '删除', $scope.groupFn.popDeleteModal, node);
                        $tree.addOperation('fa-pencil-square', 'text-primary', '编辑', $scope.groupFn.editForm, node);
                        $tree.addOperation('fa-plus-square', 'text-success', '添加', $scope.groupFn.form, node);
                        $tree.addOperation('fa-user-circle', 'text-info', '绑定角色', $scope.groupFn.form, node);
                        $tree.addOperation('fa-users', 'text-info', '成员管理', $scope.groupFn.member, node);
                    }
                }
            },

            // 成员功能集合
            memberFn: {
                // 备注成员
                remark: function() {
                    $scope.ctrl.status('remarkBtn', 'processing');
                    $scope.guser.remark = $scope.toUnicode($scope.guser.oremark);
                    $scope.put('${app}/group/member/remark/' + $scope.guser.id, $scope.guser, function(data) {
                        $scope.array.replace($scope.members, data.data);
                    }, function() {
                        $bootstrap.modal.hide('remarkModal');
                        $scope.ctrl.status('remarkBtn', 'standby');
                    });
                },

                // 弹出备注框
                popRemark: function(user) {
                    $scope.current.member = user;
                    $scope.guser = {};
                    $scope.guser.id = user.groupUser.id;
                    $scope.guser.oremark = user.groupUser.remark;

                    $bootstrap.modal.show('remarkModal');
                    $scope.ctrl.status('remarkBtn', 'standby');
                },

                // 判断备注按钮是否有效
                disabledRemarkBtn: function() {
                    if ($scope.valid.undefined($scope.guser)) return false;
                    else if ($scope.ctrl.status('remarkBtn', ['processing'])) return true;
                    else if ($scope.guser.oremark === $scope.current.member.groupUser.remark) return true;
                    return false;
                }
            },

            //
            current: {}
        }).init();
    }
</script>