<modal id="memberDeleteModal" title="确认移除成员？">
    <p class="text-warning margin-bottom-zero"><fa i="exclamation-triangle">&nbsp;确认是否移除成员「<span class="text-primary" ng-bind="current.member.name"></span>」？</fa></p>
    <button class="btn btn-danger" ng-click="del()" ng-disabled="ctrl.status('deleteBtn', ['processing'])">
        <span ng-show="ctrl.status('deleteBtn', ['standby'])"><fa i="minus-circle">&nbsp;确认移除</fa></span>
        <span ng-show="ctrl.status('deleteBtn', ['processing'])"><fa i="spinner spin">&nbsp;${app.msg('common.processing')}</fa></span>
    </button>
    <button class="btn btn-default" data-dismiss="modal"><fa i="times-circle">&nbsp;${app.msg('common.op.cancel')}</fa></button>
</modal>