<div class="panel panel-default" ng-controller="propMailCtrl">
    <div class="panel-body">
        <form name="propForm" method="post" action="#" class="form-horizontal" ng-submit="save($event)">
            <div class="form-group">
                <label class="col-sm-1 control-label">服务地址</label>
                <div class="col-sm-3">
                    <input name="mail_smtp_host" class="form-control" ng-model="prop['_p_mail.smtp.host']">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">服务端口</label>
                <div class="col-sm-1">
                    <input type="number" name="mail_smtp_port" class="form-control" ng-model="prop['_p_mail.smtp.port']">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">用户名</label>
                <div class="col-sm-2">
                    <input name="mail_smtp_username" class="form-control" ng-model="prop['_p_mail.smtp.username']">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">密码</label>
                <div class="col-sm-2">
                    <input type="password" name="mail_smtp_password" class="form-control" ng-model="prop['_p_mail.smtp.password']">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">发送邮箱</label>
                <div class="col-sm-3">
                    <input name="mail_from" class="form-control" ng-model="prop['_p_mail.from']">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">发送名称</label>
                <div class="col-sm-2">
                    <input name="mail_from_name" class="form-control" ng-model="prop['_p_mail.from.name']">
                </div>
            </div>
            <div class="form-group margin-bottom-zero">
                <div class="col-sm-offset-1 col-sm-11">
                    <button class="btn btn-success" ng-disabled="ctrl.status('saveBtn', ['processing'])">
                        <span ng-show="ctrl.status('saveBtn', ['standby'])"><fa i="floppy-o">&nbsp;${app.msg('common.op.save')}</fa></span>
                        <span ng-show="ctrl.status('saveBtn', ['processing'])"><fa i="spinner spin">&nbsp;${app.msg('common.processing')}</fa></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- #include('prop_mail_js.html') -->