<ul class="ng-slide">
    <li ng-repeat="node in ngModel">
        <p class="clearfix">
            <a href="#" class="pull-left text-muted" ng-click="$service.collapse(node)"><i class="fa fa-fw" ng-class="$collapseIcon(node)"></i></a>
            <a href="#" class="pull-left text-muted" ng-if="valid.fn(node.$fn.check) || valid.fn(node.$fn.ban)"><i class="fa fa-fw" ng-class="$checkboxIcon(node)"></i></a>
            <span class="pull-left" ng-bind="node.name"></span>
            <a href="#" class="pull-right" title="{{operation.title}}" ng-repeat="operation in node.$operations" ng-click="$service.doOperation(node, operation)" ng-class="operation.class"><i class="fa fa-fw" ng-class="operation.icon"></i></a>
        </p>
        <tree ng-model="node.children" ng-show="node.$status.collapsed"></tree>
    </li>
</ul>