<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <span class="pull-left">角色列表</span>
        <ul class="panel-heading-group">
            <li><a href="#" ng-click="roleFn.form()"><fa i="plus">&nbsp;添加</fa></a></li>
            <li panel-heading-dropdown>
                <a href="#"><span ng-bind="current.app.name"></span>&nbsp;<fa i="caret-down"></fa></a>
                <ul class="panel-heading-dropdown">
                    <li ng-repeat="app in $apps|exclude:current.app"><a href="#" ng-click="appFn.active(app)"><fa i="caret-right">&nbsp;<span ng-bind="app.name"></span></fa></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <table class="table table-striped table-hover">
        <colgroup>
            <col width="15%">
            <col width="15%">
            <col width="70%">
        </colgroup>
        <thead>
        <tr>
            <th>名称</th>
            <th>代码</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="role in roles">
            <td ng-bind="role.name"></td>
            <td ng-bind="role.code"></td>
            <td class="link-group">
                <a href="#" class="link-group-item" ng-click="roleFn.form(role)">编辑</a>
                <a href="#" class="link-group-item" ng-click="roleFn.showBind(role)">资源绑定</a>
                <a href="#" class="link-group-item" ng-click="roleFn.popDeleteModal(role)">删除</a>
            </td>
        </tr>
        <tr ng-if="ctrl.status('grid', ['loaded']) && valid.empty(roles)"><td class="text-warning" col-span><fa i="exclamation-triangle">&nbsp;${app.getMessage('common.empty')}</fa></td></tr>
        <tr ng-if="ctrl.status('grid', ['loading'])"><td col-span><fa i="spinner spin">&nbsp;${app.getMessage('common.processing')}</fa></td></tr>
        </tbody>
    </table>
</div>
<div class="table-footer clearfix">
    <pagination method="roleFn.find" delay="true" class="pull-right"></pagination>
</div>