<!--suppress JSUnresolvedVariable, JSUnresolvedFunction, JSValidateTypes -->
<script type="text/javascript">
    'use strict';
    function roleCtrl($scope, $bootstrap) {
        angular.extend($scope, {
            // 初始化
            init: function() {
                $scope.appFn.active($scope.$apps[0]);
            },

            // 角色功能集合
            roleFn: {
                // 查询
                find: function(page, size) {
                    $scope.ctrl.status('grid', 'loading');
                    $scope.get('${app}/roles/' + $scope.current.app.id, {page: page, size: size}, function(data) {
                        $bootstrap.page(data, 'roles');
                    }, function() {
                        $scope.ctrl.status('grid', 'loaded');
                    });
                },

                // 表单
                form: function(role) {
                    $scope.role = angular.extend({}, $scope.roleFn.defaultProperties, role);
                    $scope.role.appId = $scope.current.app.id;
                    $scope.object.delete($scope.role, ['creator', 'createTime', 'updater', 'updateTime']);
                    $scope.ctrl.status('view', 'form');
                    $scope.ctrl.status('saveBtn', 'standby');
                },

                // 保存
                save: function($event) {
                    $scope.ctrl.stop($event);
                    $scope.ctrl.status('saveBtn', 'processing');
                    if ($scope.valid.empty($scope.role.id)) {
                        $scope.roleFn.create($scope.role);
                    } else {
                        $scope.roleFn.update($scope.role);
                    }
                },

                // 创建角色
                create: function(role) {
                    $scope.post('${app}/role', role, function(data) {
                        $scope.roleFn.cancel();
                        $scope.array.add($scope.roles, data.data);
                    }, function() {
                        $scope.ctrl.status('saveBtn', 'standby');
                    });
                },

                // 更新角色
                update: function(role) {
                    $scope.put('${app}/role', role, function(data) {
                        $scope.roleFn.cancel();
                        $scope.array.replace($scope.roles, data.data);
                    }, function() {
                        $scope.ctrl.status('saveBtn', 'standby');
                    });
                },

                // 删除角色
                delete: function(role) {
                    $scope.ctrl.status('deleteBtn', 'processing');
                    $scope.delete('${app}/role/' + role.id, function() {
                        $bootstrap.modal.hide('roleDeleteModal');
                        $scope.array.remove($scope.roles, role);
                    }, function() {
                        $scope.ctrl.status('deleteBtn', 'standby');
                    });
                },

                // 弹出删除确认框
                popDeleteModal: function(role) {
                    $scope.current.role = role;
                    $scope.ctrl.status('deleteBtn', 'standby');
                    $bootstrap.modal.show('roleDeleteModal');
                },

                // 显示绑定视图
                showBind: function(role) {
                    $scope.current.role = role;
                    $scope.resourceFn.findResourceTypes();
                    $scope.ctrl.status('view', 'resource');
                },

                // 取消表单
                cancel: function() {
                    $scope.ctrl.resetForm($scope.roleForm);
                    $scope.ctrl.status('view', 'grid');
                },

                // 判断保存按钮是否有效
                disabledSaveBtn: function() {
                    if ($scope.roleForm.$invalid) return true;
                    else if ($scope.ctrl.status('saveBtn', ['processing'])) return true;
                    return false;
                },

                //
                defaultProperties: {
                    type: '01',
                    status: '10'
                }
            },

            // 资源功能集合
            resourceFn: {
                // 查询资源类型
                findResourceTypes: function() {
                    $scope.get('${app}/resource_types/' + $scope.current.app.id + '/selected', function(data) {
                        $scope.resourceTypes = data;
                        $scope.resourceFn.active(data[0]);
                    });
                },

                // 激活资源类型
                active: function(resourceType) {
                    $scope.current.resourceType = resourceType;
                    $scope.ctrl.status('tab_' + resourceType.type, 'loading');
                    $scope.get('${app}/resources/' + $scope.current.role.id + '/' + resourceType.type, function(data) {
                        $scope.resource = data;
                        $scope.resourceUrl = '${app}/resource/' + resourceType.type + '?' + $scope.date.timestamp();
                        $scope.ctrl.status('bindBtn', 'standby');
                        $scope.ctrl.status('tab_' + resourceType.type, 'loaded');
                    });
                },

                // 判断是否已选中
                isChecked: function(models) {
                    angular.forEach(models, function(m) {
                        m.checked = ($scope.array.in($scope.resource.allows, m.resourceId) >= 0);
                    });
                },

                // 选择
                check: function(model, checked) {
                    model.checked = $scope.valid.undefined(checked) ? !(model.checked === true) : checked;
                    if (model.checked === true && $scope.array.in($scope.resource.allows, model.resourceId) === -1) {
                        $scope.array.add($scope.resource.allows, model.resourceId);
                    } else if (model.checked === false && $scope.array.in($scope.resource.allows, model.resourceId) >= 0) {
                        $scope.array.remove($scope.resource.allows, model.resourceId);
                    }
                },

                // 绑定资源
                bind: function() {
                    $scope.ctrl.status('bindBtn', 'processing');
                    $scope.resource.roleId = $scope.current.role.id;
                    $scope.resource.type = $scope.current.resourceType.type;
                    $scope.post('${app}/bind_resources', $scope.resource, function(data) {
                        console.log(data);
                    }, function() {
                        $scope.ctrl.status('bindBtn', 'standby');
                    });
                }
            },

            // 应用功能集合
            appFn: {
                // 激活应用
                active: function(app) {
                    $scope.current.app = app;
                    $scope.roleFn.find(0);
                    $scope.ctrl.status('view', 'grid');
                }
            },

            //
            current: {}
        }).init();
    }
</script>