<div class="panel panel-default" ng-controller="navCtrl">
    <div class="panel-heading clearfix">
        <span class="pull-left">功能说明</span>
        <ul class="panel-heading-group">
            <li panel-heading-dropdown>
                <a href="#"><span ng-bind="current.app.name"></span>&nbsp;<fa i="caret-down"></fa></a>
                <ul class="panel-heading-dropdown">
                    <li ng-repeat="app in $apps"><a href="#" ng-click="appFn.active(app)"><fa i="caret-right">&nbsp;<span ng-bind="app.name"></span></fa></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="row">
            <!-- tree -->
            <div class="col-sm-6">
                <tree ng-model="tree.children"></tree>
            </div>
            <!-- tree -->

            <!-- form -->
            <div class="col-sm-6">
                <form name="navForm" action="#" method="post" class="form-horizontal" ng-submit="navFn.save($event)">
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><rq>名称</rq></label>
                        <div class="col-sm-4">
                            <input name="name" title="名称" class="form-control" placeholder="请填写功能名称" ng-model="nav.name" required maxlength="20" ng-disabled="ctrl.status('navForm', ['locked'])">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">副称</label>
                        <div class="col-sm-4">
                            <input name="subname" title="副称" class="form-control" placeholder="请填写功能副称" ng-model="nav.subname" ng-disabled="ctrl.status('navForm', ['locked'])">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><rq>代码</rq></label>
                        <div class="col-sm-4">
                            <input name="code" title="代码" class="form-control" placeholder="请填写功能代码" ng-model="nav.code" required maxlength="50" pattern="^\w+$" ng-disabled="ctrl.status('navForm', ['locked'])">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><rq>地址</rq></label>
                        <div class="col-sm-6">
                            <input name="path" title="地址" class="form-control" placeholder="@/" ng-model="nav.path" required type="url" ng-disabled="ctrl.status('navForm', ['locked'])">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><rq>目标</rq></label>
                        <div class="col-sm-2">
                            <input name="target" title="目标" class="form-control" placeholder="_blank" ng-model="nav.target" required ng-disabled="ctrl.status('navForm', ['locked'])">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">插入</span>
                                <select title="请选择相邻功能" class="form-control" ng-options="n.name for n in neighbours" ng-model="nav.neighbour" ng-disabled="ctrl.status('navForm', ['locked'])"></select>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="ctrl.status('navForm', ['locked'])"><span ng-bind="current.position.name"></span> <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="pos in positions" ng-click="current.position = pos"><a href="#" ng-bind="pos.name"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group margin-bottom-zero">
                        <div class="col-sm-offset-1 col-sm-11">
                            <button class="btn btn-success" ng-disabled="navFn.disabledSaveBtn()">
                                <span ng-show="ctrl.status('saveBtn', ['standby'])"><fa i="floppy-o">&nbsp;保存</fa></span>
                                <span ng-show="ctrl.status('saveBtn', ['processing'])"><fa i="spinner spin">&nbsp;${app.msg('common.processing')}</fa></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="navFn.cancel()" ng-disabled="ctrl.status('navForm', ['locked'])"><fa i="times-circle">&nbsp;取消</fa></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- form -->
        </div>
    </div>
</div>

<!--suppress JSUnresolvedFunction, JSUnresolvedVariable, JSUnusedLocalSymbols, ReservedWordAsName -->
<script type="text/javascript">
    'use strict';
    function navCtrl($scope, $tree, $timeout) {
        angular.extend($scope, {
            // 初始化
            init: function() {
                $scope.ctrl.status('saveBtn', 'standby');
                $scope.ctrl.status('navForm', 'locked');
                $scope.appFn.active($scope.$apps[0]);
                $scope.current.position = $scope.positions[0];
            },

            // 导航功能集合
            navFn: {
                // 查询导航
                find: function(nav) {
                    $scope.get(['${app}/nav/find', $scope.navFn.defaultProperties.type, nav.id, nav.appId].join('/'), function(children) {
                        $tree.loaded(nav, children);
                        angular.forEach(children, function(child) {
                            $scope.treeFn.setup(child);
                        });
                    });
                },

                // 表单处理
                form: function(parent, nav) {
                    if (!$scope.valid.empty(nav)) {
                        $scope.nav = angular.extend({}, $scope.navFn.defaultProperties, nav);
                        $scope.neighbours = $scope.navFn.getNeighbours($scope.array.remove(parent.children.concat(), nav));
                        $scope.object.delete($scope.nav, ['creator', 'createTime', 'updater', 'updateTime']);

                        angular.forEach($scope.neighbours, function(n) {
                            if (n.nextId === $scope.nav.id) {
                                $scope.nav.neighbour = n;
                            }
                        });
                    } else {
                        $scope.nav = angular.extend({}, $scope.navFn.defaultProperties);
                        $scope.nav.parentId = parent.id;
                        $scope.neighbours = $scope.navFn.getNeighbours(parent.children.concat());
                    } if ($scope.valid.empty($scope.nav.neighbour)) {
                        $scope.nav.neighbour = $scope.neighbours[$scope.neighbours.length - 1];
                    }
                    $scope.current.position = $scope.positions[0];
                    $scope.ctrl.status('navForm', 'unlocked');
                },

                // 保存
                save: function($event) {
                    $scope.ctrl.stop($event);
                },

                // 取消
                cancel: function() {
                    $scope.$navs = [];
                    $scope.nav = {};
                    $scope.ctrl.status('navForm', 'locked');
                },

                // 判断保存按钮是否有效
                disabledSaveBtn: function() {
                    if ($scope.ctrl.status('navForm', ['locked'])) return true;
                    else if ($scope.ctrl.status('saveBtn', ['processing'])) return true;
                    else if ($scope.navForm.$invalid) return true;
                    return false;
                },

                // 获得所有相邻元素
                getNeighbours: function(navs) {
                    navs = navs || [];
                    angular.forEach(navs, function(n) {
                        if ($tree.$isFn(n)) {
                            $scope.array.remove(navs, n);
                        }
                    });
                    return $scope.valid.empty(navs) ? [{name: '(つ´ω`)つ只能放在第一个'}] : navs;
                },

                // 默认属性
                defaultProperties: {
                    path: '@/',
                    target: '_blank',
                    type: '99'
                }
            },

            // 树形功能集合
            treeFn: {
                // 设置树形节点
                setup: function(node) {
                    if (node.id === 'root') {
                        node.children.push({

                        });
                    } else {
                        $tree.addLoadFn($scope.navFn.find, node);
                        $tree.addOperations([
                            $scope.treeDefine.operations.add,
                            $scope.treeDefine.operations.edit,
                            $scope.treeDefine.operations.remove
                        ], node);
                    }
                }
            },

            // 树形定义
            treeDefine: {
                // 节点功能
                nodeFn: {
                    add: {
                        name: '<i class="fa fa-fw fa-plus-circle"></i><span>添加功能</span>',
                        $fn: function() {
                            $scope.navFn.form({});
                        }
                    }
                },

                // 操作功能
                operations: {
                    // 添加操作
                    add: {
                        icon: 'fa-plus-square',
                        class: '',
                        title: '添加',
                        fn: function(node) {
                            $scope.navFn.form(node);
                        }
                    },

                    // 编辑操作
                    edit: {
                        icon: 'fa-pencil-square',
                        class: 'text-primary',
                        title: '编辑',
                        fn: function(node) {
                            $scope.navFn.form(node.$parent || ({children: $scope.navs}), node);
                        }
                    },

                    // 移除操作
                    remove: {
                        icon: 'fa-minus-square',
                        class: 'text-danger',
                        title: '删除',
                        fn: function(node) {
                            console.log('it is remove', node);
                        }
                    }
                }
            },

            // 应用功能集合
            appFn: {
                // 激活应用
                active: function(app) {
                    if ($scope.current.app !== app) {
                        $scope.tree = {
                            id: 'root',
                            appId: app.id
                        };
                        $scope.navFn.load($scope.tree);
                        $scope.current.app = app;
                    }
                }
            },

            // 位置选项
            positions: [
                {
                    name: '之后',
                    type: 'next'
                },
                {
                    name: '之前',
                    type: 'prev'
                }
            ],

            //
            current: {}
        }).init();
    }
</script>