<div class="panel panel-default" ng-controller="navCtrl">
    <div class="panel-heading clearfix">
        <span class="pull-left">功能管理</span>
        <ul class="panel-heading-group">
            <li><a ng-href="${app}/nav/export/{{current.app.id}}"><fa i="download">&nbsp;导出</fa></a></li>
            <li><a href="#" ng-click="navFn.popImportModal()"><fa i="upload">&nbsp;导入</fa></a></li>
            <li panel-heading-dropdown>
                <a href="#"><span ng-bind="current.app.name"></span>&nbsp;<fa i="caret-down"></fa></a>
                <ul class="panel-heading-dropdown">
                    <li ng-repeat="app in $apps|exclude:current.app"><a href="#" ng-click="appFn.active(app)"><fa i="caret-right">&nbsp;<span ng-bind="app.name"></span></fa></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6"><tree ng-model="tree"></tree></div>
            <div class="col-sm-6"><!-- #include('form.html') --></div>
        </div>
    </div>
    <!-- #include('modal_delete.html') -->
    <!-- #include('modal_import.html') -->
</div>
<!-- #include('js_index.html') -->