<div class="panel panel-default" ng-controller="navCtrl">
    <div class="panel-heading clearfix">
        <span class="pull-left">功能说明</span>
        <ul class="panel-heading-group">
            <li panel-heading-dropdown>
                <a href="#"><span ng-bind="current.app.name"></span>&nbsp;<fa i="caret-down"></fa></a>
                <ul class="panel-heading-dropdown">
                    <li ng-repeat="app in $apps|exclude:current.app"><a href="#" ng-click="appFn.active(app)"><fa i="caret-right">&nbsp;<span ng-bind="app.name"></span></fa></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="row">
            <!-- tree -->
            <div class="col-sm-6">
                <tree ng-model="tree"></tree>
            </div>
            <!-- tree -->

            <!-- form -->
            <div class="col-sm-6">
                <form name="navForm" action="#" method="post" class="form-horizontal" ng-submit="navFn.save($event)">
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><rq>名称</rq></label>
                        <div class="col-sm-4">
                            <input name="name" title="名称" class="form-control" placeholder="请填写功能名称" ng-model="nav.name" required maxlength="20" ng-disabled="ctrl.status('navForm', ['locked'])">
                            <alert-pop field="navForm.name">
                                <alert-pop-item type="required">必须填写功能名称</alert-pop-item>
                                <alert-pop-item type="maxlength">功能名称不能超过20个字符</alert-pop-item>
                            </alert-pop>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">副称</label>
                        <div class="col-sm-4">
                            <input name="subname" title="副称" class="form-control" placeholder="请填写功能副称" ng-model="nav.subname" ng-disabled="ctrl.status('navForm', ['locked'])">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><rq>代码</rq></label>
                        <div class="col-sm-4">
                            <input name="code" title="代码" class="form-control" placeholder="请填写功能代码" ng-model="nav.code" required maxlength="50" pattern="^\w+$" ng-disabled="ctrl.status('navForm', ['locked'])">
                            <alert-pop field="navForm.code">
                                <alert-pop-item type="required">必须填写功能代码</alert-pop-item>
                                <alert-pop-item type="maxlength">功能名称不能超过50个字符</alert-pop-item>
                                <alert-pop-item type="pattern">功能名称只能使用数字和字母</alert-pop-item>
                            </alert-pop>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><rq>地址</rq></label>
                        <div class="col-sm-6">
                            <input name="path" title="地址" class="form-control" placeholder="@/" ng-model="nav.path" required ng-disabled="ctrl.status('navForm', ['locked'])">
                            <alert-pop field="navForm.path">
                                <alert-pop-item type="required">必须填写功能地址</alert-pop-item>
                            </alert-pop>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><rq>目标</rq></label>
                        <div class="col-sm-2">
                            <input name="target" title="目标" class="form-control" placeholder="_blank" ng-model="nav.target" required ng-disabled="ctrl.status('navForm', ['locked'])">
                            <alert-pop field="navForm.target">
                                <alert-pop-item type="required">必须填写功能目标</alert-pop-item>
                            </alert-pop>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">插入</span>
                                <select title="请选择相邻功能" class="form-control" ng-options="n.name for n in neighbours" ng-model="nav.neighbour" ng-disabled="ctrl.status('navForm', ['locked'])"></select>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="ctrl.status('navForm', ['locked'])"><span ng-bind="current.position.name"></span> <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="pos in positions|exclude:current.position:'type'" ng-click="current.position = pos"><a href="#" ng-bind="pos.name"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group margin-bottom-zero">
                        <div class="col-sm-offset-1 col-sm-11">
                            <button class="btn btn-success" ng-disabled="navFn.disabledSaveBtn()">
                                <span ng-show="ctrl.status('saveBtn', ['standby'])"><fa i="floppy-o">&nbsp;保存</fa></span>
                                <span ng-show="ctrl.status('saveBtn', ['processing'])"><fa i="spinner spin">&nbsp;${app.msg('common.processing')}</fa></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="navFn.cancel()" ng-disabled="ctrl.status('navForm', ['locked'])"><fa i="times-circle">&nbsp;取消</fa></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- form -->
        </div>
    </div>
</div>

<!--suppress JSUnresolvedFunction, JSUnresolvedVariable, JSUnusedLocalSymbols, ReservedWordAsName, JSUnusedGlobalSymbols -->
<script type="text/javascript">
    'use strict';
    function navCtrl($scope, $tree, $timeout) {
        angular.extend($scope, {
            // 初始化
            init: function() {
                $scope.appFn.active($scope.$apps[0]);
            },

            // 导航功能集合
            navFn: {
                // 查询导航
                find: function(nav) {
                    $scope.get(['${app}/nav/find', $scope.navFn.defaultProperties.type, nav.id, nav.appId].join('/'), function(children) {
                        $tree.loaded(nav, children);
                        angular.forEach(children, function(child) {
                            $scope.navFn.setup(child);
                        });
                    });
                },

                // 表单处理
                form: function(parent, nav) {
                    if (!$scope.valid.empty(nav)) {
                        $scope.nav = angular.extend({}, $scope.navFn.defaultProperties, nav);
                        $scope.neighbours = $scope.navFn.copy(parent.children, nav);

                        angular.forEach($scope.neighbours, function(n) {
                            if (n.nextId === $scope.nav.id) {
                                $scope.nav.neighbour = n;
                            }
                        });
                    } else {
                        $scope.nav = angular.extend({}, $scope.navFn.defaultProperties);
                        $scope.nav.appId = parent.appId;
                        $scope.nav.parentId = parent.id;
                        $scope.neighbours = $scope.navFn.copy(parent.children);
                    } if ($scope.valid.empty($scope.nav.neighbour)) {
                        $scope.nav.neighbour = $scope.neighbours[$scope.neighbours.length - 1];
                    }
                    $scope.current.parent = parent;
                    $scope.current.position = $scope.positions[0];
                    $scope.ctrl.status('navForm', 'unlocked');
                },

                // 保存
                save: function($event) {
                    $scope.ctrl.stop($event);
                    $scope.ctrl.status('saveBtn', 'processing');
                    $scope.navFn.nextId();

                    var nav = angular.extend({}, $scope.nav);
                    $scope.object.delete(nav, ['creator', 'createTime', 'updater', 'updateTime', 'children', 'neighbour', '$status', '$fn', '$operations', '$parent', '$setup']);
                    if ($scope.valid.empty(nav.id)) {
                        $scope.navFn.create(nav);
                    } else {
                        $scope.navFn.update(nav);
                    }
                },

                // 创建功能
                create: function(nav) {
                    $scope.post('${app}/nav/create', nav, function(data) {
                        $tree.reload($scope.current.parent);
                        $scope.navFn.cancel();
                    }, function(data) {
                        $scope.ctrl.status('saveBtn', 'standby');
                    });
                },

                // 更新功能
                update: function(nav) {
                    console.log('it is update', nav);
                },

                // 取消
                cancel: function() {
                    $scope.nav = {};
                    $scope.current.position = $scope.positions[0];
                    $scope.ctrl.status('navForm', 'locked');
                    $scope.ctrl.status('saveBtn', 'standby');
                    $scope.ctrl.resetForm($scope.navForm);
                },

                // 判断保存按钮是否有效
                disabledSaveBtn: function() {
                    if ($scope.ctrl.status('navForm', ['locked'])) return true;
                    else if ($scope.ctrl.status('saveBtn', ['processing'])) return true;
                    else if ($scope.navForm.$invalid) return true;
                    return false;
                },

                // 获得所有相邻元素
                copy: function(navs, nav) {
                    navs = (navs || []).concat();
                    $scope.array.remove(navs, nav);
                    return navs.length === 0 ? [$scope.treeDefine.lastPosition] : navs;
                },

                // 设置树形节点
                setup: function(node) {
                    if (!node.$setup) {
                        node.$setup = true;
                        $tree.setLoadFn($scope.navFn.find, node);
                        $tree.addOperation('fa-minus-square', 'text-danger', '删除', $scope.treeDefine.operations.remove, node);
                        $tree.addOperation('fa-pencil-square', 'text-primary', '编辑', $scope.treeDefine.operations.edit, node);
                        $tree.addOperation('fa-plus-square', 'text-success', '添加', $scope.treeDefine.operations.add, node);
                    }
                },

                // 设置相邻编号
                nextId: function() {
                    if ($scope.current.position.type === 'next') {
                        $scope.nav.nextId = $scope.nav.neighbour.nextId;
                    } else if ($scope.current.position.type === 'prev') {
                        $scope.nav.nextId = $scope.nav.neighbour.id;
                    }
                },

                // 默认属性
                defaultProperties: {
                    path: '@/',
                    target: '_blank',
                    type: '99'
                }
            },

            // 应用功能集合
            appFn: {
                // 激活应用
                active: function(app) {
                    if ($scope.current.app !== app) {
                        $scope.current.app = app;
                        $scope.navs = [];
                        $scope.tree = {};
                        $scope.tree.id = '_root';
                        $scope.tree.appId = app.id;
                        $scope.navFn.setup($scope.tree);
                        $scope.navFn.cancel();
                        $tree.load($scope.tree);
                        $tree.addNodeFn('<i class="fa fa-fw fa-plus-circle"></i><span>添加功能</span>', $scope.treeDefine.addRoot, $scope.tree);
                    }
                }
            },

            // 树形定义
            treeDefine: {
                // 操作功能
                operations: {
                    // 添加操作
                    add: function(node) {
                        $scope.navFn.form(node);
                    },

                    // 编辑操作
                    edit: function(node) {
                        $scope.navFn.form(node.$parent, node);
                    },

                    // 移除操作
                    remove: function(node) {
                        console.log('it is remove', node);
                    }
                },

                //
                addRoot: function() {
                    $scope.navFn.form($scope.tree);
                },

                //
                lastPosition: {
                    id: '_last',
                    nextId: '_last',
                    name: '(つ´ω`)つ只能放在第一个'
                }
            },

            // 位置选项
            positions: [
                {
                    name: '之后',
                    type: 'next'
                },
                {
                    name: '之前',
                    type: 'prev'
                }
            ],

            //
            current: {}
        }).init();
    }
</script>