.row {
  margin-right: -40px;
  margin-left: -40px;
  @for $i from 1 through 12 {
    .col-xs-#{$i},
    .col-sm-#{$i},
    .col-md-#{$i},
    .col-lg-#{$i} {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
}

.container-server {
  margin-top: 50px;
  .app {
    cursor: pointer;
    margin-bottom: 60px;
    h3 {
      margin-left: -25px;
      margin-bottom: 15px;
      text-align: center;
      font-weight: 500;
    }
    .app-name {
      line-height: 40px;
      border: 2px solid #000000;
      border-radius: 20px;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
    }
  }
}